@import "../variables/tokens.scss";

*{
    padding: 0;
    margin: 0;
    font-family: $fontDefault;
//    background-color: $bgRed; // $ is a variable calling
}

.card{
    max-width: 380px;
    background-color: $bgWhite;
    padding: $p10;
    border-radius: $p10;
    img{
        width: 70%;
        height: auto;
        margin: 0 auto;
    }
    p{
        text-align: center;
        font-family: $fontDefault;
    }
}

.cart-empty{
    display: flex;
    text-align: center;
    height: 100;
    min-width: 300;
    justify-content: center;
    align-items: center;
    color: $bgLigthGray;
}

.newsletter-content{
    background-color: $bgLigthGray;
    text-align: center;
    color: $bgPurple;
    padding: $p40;

    form{
        margin-top: $p40;
    }
}

footer{
    background-color: $bgBackgroundBrown;
    color: $colorDefault;
    text-align: center;
    padding: 40px 0;
}