@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,200;1,300&family=Roboto:wght@300;400;500;900&display=swap');

$fontDefault: 'Roboto', sans-serif;

$bgRed: red;
$bgWhite: #fff;
$bgBackgroundBrown: sandybrown;
$bgPurple: #3F1F51;
$bgLigthGray: #d1d1d1;

$p10: 10px;
$p40: 40px;

$colorDefault: #fff;
